@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

#logo>img {
    width: 100px;
    height: auto;
}

#footer-logo img{
    width: 200px;
    height: auto;
    margin: 0 5rem;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: hsl(243, 87%, 12%);
    /* overflow-y: hidden; */
}

a {
    text-decoration: none;
    color: hsl(243, 87%, 12%);
}

nav {
    margin: 1vw 5vw;
}

.flex {
    display: flex;
    justify-content: space-between;
}

header li {
    list-style: none;
    margin: 0px 20px;
}

header a::after {
    content: '';
    display: block;
    border-bottom: solid 3px black;
    transform: scaleX(0);

    transition: transform .3s;
}

header a:hover::after {
    transform: scaleX(1);
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: rgb(109, 4, 4);
}

html::-webkit-scrollbar-thumb {
    background: #ff9696;
    border-radius: 25px;
}

/* about starts */

.about {
    /* width: 92%; */
    /* margin-top: 20vh; */
    /* padding-top: 14vh; */
    margin-bottom: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: Montserrat; */
}

.about1 {
    display: flex;
    justify-content: center;
    width: 90%;
}

.about h1 {
    /* color: #0455CB; */
    margin-bottom: 5vh;
    font-size: 4vw;
}

.set {
    width: 27%;
    padding: 2vw;
}

.set h2 {
    padding: 2vw;
    color: white;
}

.set p {
    padding: 2vw;
    color: rgba(255, 255, 255, 0.9);
}

.head {
    display: flex;
    padding: 2vw;
    gap: 0.5vw;
}

.head img {
    width: 8vw;
}

#first {
    background-color: red;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#second {
    background-color: rgb(240, 63, 63);
}

#third {
    background-color: rgb(228, 100, 100);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

#Sign-up-now-button,#get-started-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#get-started-button a,#Sign-up-now-button a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

/* aboute ends */

/* contact start */

.contact {
    /* width: 92%; */
    /* margin-top: 20vh; */
    margin-bottom: 30vh;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 14vh; */
    /* font-family: Montserrat; */
}

.contact1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contact h1 {
    /* color: #cb0404; */
    margin-bottom: 10vh;
    font-size: 4vw;
}

.contact #first {
    width: 35%;
    display: flex;
    flex-direction: column;
    /* padding: 0vw;
    padding-top: 2vw;
    padding-bottom: 2vw; */
    justify-content: center;
    gap: 4vh;
    background-color: #ffc1c1;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.contact #first img {
    width: 3.5rem;
}

.contact #second {
    width: 35%;
    display: flex;
    justify-content: center;
    background-color: #d60d0d;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.con {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.con1 {
    background-color: #cb0404;
    padding: 2%;
    cursor: pointer;
    font-size: x-large;
    color: white;
    border-radius: 1.5rem;
    transition: all 0.6s ease;
    text-align: center;
    width: 70%;
}

#copy_btn {
    transition: all 0.6s ease;
    color: white;
}

#copy_btn:hover {
    color: #ff7a7a;
}

.con1:active {
    opacity: 0.2;
}

.con1:hover {
    color: #ff7a7a;
}
.con svg{
    width: 2rem;
    height: auto;
}
/* contact end */

/* app info */
#app img{
    height: auto;
    width: 300px;
}
#app{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#app-info{
    margin: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
}
#app-info-text{
    width: 50%;
}
#app-info-img{
    max-width: 50%;
    height: auto;
}
#app-info-img img{
    height: auto;
    width: 500px;
    /* clip: auto; */
}
#app-info-text h1{
    font-size: 3rem;
}

/* footer */

footer{
    background-color: hsl(0, 67%, 53%);
    color:white;
    padding: 5vh 0;
}

footer li{
    list-style: none;
    color: white;
}

.li-ele{
    /* margin: 0 4vw ; */
    display: flex;
    justify-content: space-evenly;
}
.footerlinks{
    color: white;
    margin-top:3rem ;
}
footer svg{
    width: 1.5rem;
    height: auto;
}

.li-ele ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

